#window {
	border: 2px solid #70a5eb;
	border-radius: 10px;
}

#text,
#input {
	font-size: 15px;
	font-weight: bold;
}

#outer-box {
	margin: 15px;
}

#input {
	border-radius: 5px;
	padding: 5px 10px;
	margin-bottom: 15px;
}

#entry {
	border-radius: 5px;
	padding: 10px;
}

#entry:selected {
	background-color: #70a5eb;
	outline: none;
}

#img {
	margin-right: 10px;
}
