* {
	font-family: Inter;
	font-size: 14px;
	font-weight: bold;
}

window#waybar {
	background: none;
	color: #b6beca;
}

#workspaces button,
#clock,
#battery,
#network,
#pulseaudio {
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	color: #b6beca;
	background-color: #1c252c;
	margin: 5px 5px 0px 0px;
}

#workspaces button.active {
	color: #101419;
	background-color: #70a5eb;
}

#workspaces button.urgent {
	background-color: #e05f65;
}

.modules-left > widget:first-child > #workspaces {
	margin-left: 5px;
}

#pulseaudio.muted {
	color: #e05f65;
}

#network.disconnected {
	color: #e05f65;
}

#battery.charging,
#battery.plugged {
	color: #78dba9;
}

#battery.warning:not(.charging) {
	color: #f1cf8a;
}

#battery.critical:not(.charging) {
	color: #e05f65;
}
