window#waybar {
	background: none;
}

#workspaces button,
#clock,
#network,
#bluetooth,
#pulseaudio,
#backlight,
#battery {
	font-size: 14px;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	background-color: #1c252c;
	margin: 5px 5px 0px 0px;
	outline: none;
}

#workspaces button.active {
	background-color: #70a5eb;
}

#workspaces button.urgent {
	color: #e05f65;
}

#workspaces button.urgent.active {
	background-color: #e05f65;
}

.modules-left > widget:first-child > #workspaces {
	margin-left: 5px;
}

#battery.charging {
	color: #78dba9;
}

#battery.warning:not(.charging) {
	color: #f1cf8a;
}

#battery.critical:not(.charging) {
	color: #e05f65;
}
