:root {
	--dark1: #101419 !important;
	--dark2: #1c252c !important;
	--light: #b6beca !important;
	--blue: #70a5eb !important;
}

@-moz-document url("about:home"), url("about:newtab") {
	:root {
		--newtab-background-color: var(--dark1) !important;
		--newtab-background-color-secondary: var(--dark2) !important;
		--newtab-text-primary-color: var(--light) !important;
		--newtab-primary-action-background: var(--blue) !important;
	}
}

@-moz-document url("about:privatebrowsing") {
	:root {
		--in-content-page-background: var(--dark1) !important;
	}
}
